{% extends "base.html" %}

{% block content %}
    {% if user_data.authorised %}
    <div class="tracklist-selector-container">
        <a class="tracklist-selector" href="#playlist-selector">Playlists</a>
        <a class="tracklist-selector" href="#artist-selector">Artists</a>
        <a class="tracklist-selector disabled" href="#curated-selector">Curated</a>
    </div>
    <div id="lyric-game">
        <p id="title">Choose a playlist:</p>
        <div class="cover-art-selectors">
            <div class="cover-art" id="playlists"></div>
            <div class="cover-art" id="artists"></div>
        </div>
    </div>
    {% endif %}
{% endblock %}