
/* FORMS */
.user-form {
    background-color: var(--bg-color2);
    border-radius: 0.5rem;

    align-items: center;
    align-content: center;
    margin: auto;
    padding: 2rem;

    position: relative;
}
.login {
    width: 30rem;
}
.register {
    width: 40rem;
}
.error-text {
    color: red
}
/* gradients */
#sign-in-container::before,
#sign-in-container::after {
    background: conic-gradient(
        from calc(var(--grad) * 1deg), /* the most janky conversion*/
        #217af7,
        #a445eb,
        #e3319a,
        #a445eb,
        #217af7
    );
    border-radius: inherit;
    z-index: -1;
    inset: -0.2rem;
    position: absolute;
    content: "";
}

#sign-in-container::after{
    filter:blur(1rem);
}

/* submit button */
#sign-in-container #submit {
    width: 100%;
    padding: 0.5rem;
    background-color: #238636;
    border-radius: 6px;
    border: none;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 2rem;
    transition: 250ms ease;
}
#sign-in-container #submit:hover:enabled {
    background-color: #2e962b;
}

#sign-in-container #submit:disabled {
    opacity: 0.5;
}
.form-control {
    background-color: var(--bg-color);
    border: var(--border-color) 1px solid;
    color: white;
    transition: 250ms ease;
    margin-bottom: 0.5rem;
}

.form-input-container {
    margin-bottom: 2rem;
}


/* password match checking */
.incorrect {
    background-color: #1b0e0e;
}

.error-box {
    background-color: #9c2b2e;
    color: white;
    border: 2px solid #e84e4f;
    border-radius: 0.5rem;
    width: 30rem;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 2rem;
}
.error-box .close {
    color: #fff; 
    opacity: 1;
    transition: 100ms ease;
}
.error-box .close:hover {
    opacity: 0.5;
}

/* chatroom */

#chatroom {
    position: absolute;
    height: 50%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border: green solid 2px;
    display: block;
}

#messages {
    position: absolute;
    overflow-y: scroll;
    height: 90%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: red solid 2px;
    display: block;
}

#chat-input {
    position: absolute;
    left: 50%;
    width: 100%;
    top: 100%;
    transform: translate(-50%,-100%);
}

.chat-line.server {
   color: rgb(197, 197, 224);
}

@media screen and (min-width:1200px) {
    #chatroom {
        width: 1000px;
    }
}