.stats-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* PREVIOUS GAMES TABLE */
.games-table-container {
    border-radius: 1rem;
    padding: 1rem 0;
    background: #121212;

    margin: auto;
    width: 100%;
    max-width: 1500px;

    text-align: left;
}

.games-table {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.games-table th,
.games-table tr {
    height: 4rem;
    border-bottom: #202020 2px solid;
    border-top: #202020 2px solid;
}

.games-table th {
    background: #121212;
}

.games-table tr:nth-child(even) {
    background: #121212;
}
.games-table tr:nth-child(odd) {
    background: #202020;
}
.games-table td,
.games-table th {
    padding: 0 1rem;
}

.cell-flex {
    display: flex;
    justify-content: left;
    width: 100%;
}

.cell-flex img {
    align-self: auto;
    margin-right: 1rem;
}

.sortable {
    cursor: pointer;
}

.games-table th:first-child,
.games-table td:first-child {
    width: 25%;
}

.games-table th:nth-child(2),
.games-table td:nth-child(2) {
    width: 15%;
}

.games-table th:nth-child(3),
.games-table td:nth-child(3) {
    width: 30%;
}

.games-table th:nth-child(4),
.games-table td:nth-child(4) {
    width: 30%;
}

@media only screen and (max-width: 800px) {
    .games-table {
        font-size: 0.8rem;
    }

    .games-table td,
    .games-table th {
        padding: 0 0.4rem;
    }
}

.score-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}
  
.score-container {
    flex-basis: 50%;
}
  
.best-score-container,
.average-score-container {
    background-color: #2c2c2c;
    padding: 10px;
    border: 1px solid #ccc;
}
